body {
	padding-top: 5rem;
	background: #00BFFF;
  }
  /* .starter-template {
	padding: 3rem 1.5rem;
	text-align: center; */
/* body {
	display: grid;
	grid-template-columns: 2fr 8fr
} */

.container {
	/* padding: 1rem; */
	width: stretch;
	height: auto;
	/* display: none; */
	background:#F8F8FF;
	opacity: .8;
  }

  .card {
      position: absolute;
      right: 300px;
  }

  .input-text{
	/* font-size: 100px; // for say a select */
	width: 400px;
	}