body {
	padding-top: 5rem;
	background-image: linear-gradient(#515DA2, white);
  }
  /* .starter-template {
	padding: 3rem 1.5rem;
	text-align: center; */
/* body {
	display: grid;
	grid-template-columns: 2fr 8fr
} */

.container {
	/* padding: 1rem; */
	width: stretch;
	height: auto;
	/* display: none; */
	background:#F8F8FF;
	opacity: .8;
  }

  /* .card {
      position: absolute;
      right: 300px;
  } */

.input-text {
	width: 400px;
}

.header-text {
	color: #FAF7F6;
}

#info-line {
	color: darkslateblue
}

#new-game-header {
	color: #FAF7F6;
}

 .card {
 position: relative;
 width: 70%;
 float: right;
 right: 300px;
 height: fixed;
 border: 3px solid  darkslateblue;
 z-index: 1010101010
 
 }
	  
ul {
position: relative;
/* width: 50%; */
float: left;
height: 100%;
color: darkslateblue;
font-size: 20px;
z-index: 1010101010
	  }


.header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}	






